<template name="schedule">
        <table class="table table-hover">
                <thead>
                        <tr>
                                <th>
                                        Tag
                                </th>
                                {{#each users}}
                                <th>
                                        {{ username }}
                                </th>
                                {{/each}}
                        </tr>
                        {{#each days}}
                        <tr>
                                <td>
                                        {{ formatDateD this ../month ../year}}
                                </td>
                                {{#each usersanddate ../users this}}
                                <td data-user="{{ _id }}" data-day="{{ day }}" data-month="{{ ../../month }}" data-year="{{ ../../year }}">
                                        {{#each findTimes day ../../month ../../year  _id}}
                                        {{formatDateHHMM starttime}} - {{formatDateHHMM endtime}} <a href="#" class="deletetime"><i class="fa fa-minus"></i></a>
                                        {{/each}}
                                        <div class="addtimefield"></div>
                                        <a href="#" class="addtime"><i class="fa fa-plus"></i></a>
                                </td>
                                {{/each}}
                        </tr>
                        {{/each}}
                        <tr>
                            <td>
                                Stunden
                            </td>
                            <td>
                             {{#each ../users}}
                                    {{getWorkedHours ./../month ../../year  _id }}
                             {{/each}}
                             </td>
                        </tr>
                </thead>
        </table>
</template>